.App {
  text-align: center;
  background-color: #0f0c29;
  min-height: 100vh;
  max-height: fit-content;
}
.App footer{
  margin-top: 140px;
  color: rgb(70, 107, 139);
}
button{
  color: rgb(56, 37, 75);
  font-weight: bold;
  background-color: rgb(110, 106, 106);
  margin: 10px;
  padding: 9px;
  cursor: pointer;
  border-radius: 7px;
  border: none;
}
button:hover{
  color: whitesmoke;
  background-color: rgb(56, 37, 75);
  transition: 0.4s;
}

/* //contact section// */
.contact-section{
  color: whitesmoke;
  text-align: center;
  padding: 170px;
}

.about-section{
  padding: 100px;
  color: whitesmoke;
  text-align: justify;
  word-spacing:5px;
}
.about-section p{
  font-size: 25px;
}